body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
}
  
h1 {
    text-align: center;
    margin-top: 15px;
    text-shadow: 4px 10px 2px rgba(0, 0, 0, 0.3);
}
  