.algo {
    margin: 20px;
  }
  
  .algo select, .algo button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .algo select {
    width: 150px;
  }
  
  .algo button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .algo button:hover {
    background-color: #45a049;
  }
  