.adjlist {
  max-width: 1400px;
  width: 100%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures all divs have equal height */
  justify-content: center;
  gap: 12px;
}

.instruction {
  width: 30%;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.instruction li{
  color: rgb(245, 70, 70);
}
.just-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.node_list {
  width: 50%;
}

pre {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

label {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.create_button {
  margin-top: 15px;
  padding: 10px 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create_button:hover {
  background-color: #45a049;
}

input[type="number"] {
  padding: 5px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

h3 {
  color: black;
  font-size: 1.1rem;
}

.node_connection {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.node_connection label {
  font-size: 0.75rem;
  color: black;
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #fff;
}
